.elements__img-trash {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 19px;
  width: 18px;
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.elements__img-trash:hover {
  opacity: 0.6;
}
